@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #1e1d2b;
    font-family: 'Poppins', sans-serif;
    padding: 1.8% 1.8% 1.8% 1.8%;
    font-size: 1rem;
    
}
.container{
    display: grid;
    grid-template-rows: 35px 500px 500px;
    grid-template-columns: 55% 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Poppins', sans-serif;    
}
a:hover{
        border: 2px solid #087f5b;
        height: fit-content;
        width: 80%;
        border-radius: 4px;
        background-color: #ff702a;
        text-align: center;
}
.b:hover{
    border: 2px solid #ff702a;
    height: fit-content;
    width: 120px;
    border-radius: 4px;
    background-color: #087f5b;
}
.item:hover{
    transform: scale(1.04);
    transition: transform 0.5s ease-in-out;
}
.item-1{
    color: #ff702a;
    font-family: 'Poppins', sans-serif;
    padding-left: 3.6%;
    font-size: 20px;
     
}
.men{
    color: #fff;
    text-decoration: none;   
}

.item-7{
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 10% 10% 10% 25%;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    
}
.PT{
    color: #ff702a;
    letter-spacing: 5px;
}
.PP{
    color: #fff;
}
.PB{
    color: #fff;
    background-color: #ff702a;
    width:auto;
    text-align:center;
    font-size:small;
    text-decoration: none;
}
.item-8{

    grid-area: 2/2/2/7;
    padding: 13% 10% 10% 10%;
}
.item-9 {
    grid-column-start: 1;
    grid-row-start: 3;
    padding: 10% 10% 10% 25%;
    
}
.about{
    grid-area: 3/2/3/7;
    padding: 20% 25% 25% 8%;
    font-family: 'Poppins', sans-serif;
} 
.ab{
    color: #ff702a;
    font-size: small;
}
.ST{
    color: #fff;
    font-size: 30px;
    font-weight:600;
}
.SP{
    color: #fff;
    font-size: small;
}
.SB{
    color: #fff;
    background-color: #ff702a;
    width:120px;
    text-align:center;
    font-size:small;
}
.container2{
    display: grid;
    grid-template-rows: 50px 100px 210px 100px 220px 180px 210px 150px 400px;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    font-family: 'Poppins', sans-serif;
    padding-top: 10%;
    column-gap: 1%;
    
}
.me{
    color: #ff702a;
    text-align:center;
    font-size:small;
    font-weight: bold;
    grid-area: 1/1/1/6;
    padding-top:25px;    
}
.describeFood{
    color: #fff;
    text-align:center;
    font-size:xx-large; 
    padding-top:15px;
    grid-area: 2/1/2/6; 
    letter-spacing: 1.5px;
}
.item-10{
    grid-column-start: 2;
    grid-row-start: 3;
    padding-left: 22%;
    padding-top: 15%;
    background-color: #ffefe8;
    border: double 7px;
    border-bottom: none;
}
.chburg{
    grid-column-start: 2;
    grid-row-start: 4;
    text-align: center;
    color: #000000;
    background-color: #ffefe8;
    border: double 7px;
    border-top: none;
 
}
.item-11{
    grid-column-start: 3;
    grid-row-start: 3;
    padding-left: 20%;
    padding-top: 15%;
    background-color: #ffefe8;
    border: double 7px;
    border-bottom: none;
}
.item-12{
    grid-column-start: 4;
    grid-row-start: 3;
    padding-left: 20%;
    padding-top: 15%;
    background-color: #ffefe8;
    border: double 7px;
    border-bottom: none;
}
.titFood{
    font-size: 20px;
    letter-spacing: 1.5px;
} 
.infFood{
    color: #ff702a;
}
.sbburg{
    grid-column-start: 3;
    grid-row-start: 4;
    text-align: center;
    color: #000000;
    background-color: #ffefe8;
    border:double 7px;
    border-top: none;
 
}
.cfpack{
    grid-column-start: 4;
    grid-row-start: 4;
    text-align: center;
    color: #000000;
    background-color: #ffefe8;
    border: double 7px;
    border-top: none;
}
.serv{
    color: #ff702a;
    text-align:center;
    font-size:small;
    font-weight: bold;
    grid-area: 5/1/5/6;
    padding-top:18%;    
}
.describeServ{
    color: #fff;
    text-align:center;
    font-size:xx-large; 
    padding-top:15px;
    grid-area: 6/1/6/6; 
    letter-spacing: 1.5px;
}
.item-13{
    grid-column-start: 2;
    grid-row-start: 7;
    padding-left: 20%;
}
.item-14{
    grid-column-start: 3;
    grid-row-start: 7;
    padding-left: 20%;
}
.item-15{
    grid-column-start: 4;
    grid-row-start: 7;
    padding-left: 20%;
}
.order{
    grid-column-start: 2;
    grid-row-start: 8;
    text-align: center;
    color: #ff702a;
}
.shipping{
    grid-column-start: 3;
    grid-row-start: 8;
    text-align: center;
    color: #ff702a;
}
.delivered{
    grid-column-start: 4;
    grid-row-start: 8;
    text-align: center;
    color: #ff702a;
    
}
.cartel{
    grid-area: 9/2/9/5;
    padding-top: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
    color: #000000;  
    text-align: center;
    font-size: 3rem;
    background-color: #ffefe8;
    border: double 7px;
}
.container3{
    display: grid;
    grid-template-rows: 100px 180px 50px;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
    font-family: 'Poppins', sans-serif;
    color: #fff; 

}
.mlink{
    grid-column-start: 2;
    grid-row-start: 2;
    text-decoration: none;
    color: #fff; 
}
.oservice{
    grid-column-start: 3;
    grid-row-start: 2;
}
.information{
    grid-column-start: 4;
    grid-row-start: 2;
    
}
.contact{
    grid-column-start: 5;
    grid-row-start: 2;  
}
.menu{
    text-decoration: none;
    color:#fff
}
hr{
   border-color: #ff702a;
   width: 22%;
}
.TB{
    margin: 0 auto;
    color: #fff;
    background-color: #ff702a;
    width: 120px;
    font-size:small;
}
.bx{
    background-color: #ff702a;
    border-radius: 50%;
    font-size: 22px;
}
@media (max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .men{
        display: none;
    }
    .item-7{
        text-align: center;
        padding: 10% 10% 10% 10%;
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
    }
    .PB{
        margin: 0 auto
    }
    
    .item-8{
        padding-left: 22%;
    }
    .about{
        padding: 10% 0% 15% 0%;
        text-align: center;
    }
    .SP{
        padding-left: 15%;
        padding-right: 15%;
    }
    .SB{
        margin: 0 auto;
    }
    .item-9{
        order:1;
        padding: 15%
    }
    .container2{
        display: flex;
        flex-direction: column;
        padding-top: 0%;
    }
    .describeFood{
        padding-left: 3%;
        padding-right: 3%;
    }
    .item-10{
        margin: 10% 20% 0% 20%;
        padding-left: 14%;
        padding-top: 8%;
        border-bottom: none;
    }
    .chburg{
        margin: 0px 20% 10% 20%;
    }
    .item-11{
        margin: 10% 20% 0% 20%;
        padding-left: 14%;
        padding-top: 8%;
        border-bottom: none;
    }
    .sbburg{
        margin: 0px 20% 10% 20%;
    }
    .item-12{
        margin: 10% 20% 0% 20%;
        padding-left: 14%;
        padding-top: 8%;
        border-bottom: none;
    }
    .cfpack{
        margin: 0px 20% 10% 20%;
    }
    .describeServ{
        padding-left: 5%;
        padding-right: 5%;
    }
    .item-13{
        padding-top: 15%;
        padding-left: 12%;
        margin: 0 auto;
        width: 70%;
    }
    .order{
        padding-left: 15%;
        padding-right: 15%;
    }
    .item-14{
        padding-top: 15%;
        padding-left: 10%;
        margin: 0 auto;
        width: 70%;
    }
    .shipping{
        padding-left: 15%;
        padding-right: 15%;
    }
    .item-15{
        padding-top: 15%;
        padding-left: 10%;
        margin: 0 auto;
        width: 70%;
    }
    .delivered{
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 15%;
    }
    .cartel{
        margin: 8% 7% 10% 7%;
        font-size: 1.2rem;
    }
    .container3{
        display: flex;
        flex-direction: column;
    
    }
    hr{
        border-color: #ff702a;
        width: 15%;
    }
    .mlink{
        padding-top: 10%;
        padding-left: 13%;
        padding-bottom: 8%;
        
    }
    .oservice{

        padding-left: 13%;
        padding-bottom: 8%;
    }
    .information{
        padding-left: 13%;
        padding-bottom: 8%;
    }
    .contact{
        padding-left: 36%;  
    }
}